@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
  font-family: 'Bubblegum Sans', cursive;
}
.body{
    background-color: #C9E5F9;
    width: 100vw;
    min-height: 824px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.boxInput{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;

    
}
.input{
    height: 47px;
    width: 70%;
    background-image: linear-gradient(to right, #1A9AEA,#CCD3DF);
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    outline: none;
    border: none;
    padding-left: 14px;
    font-size: 30px;
    color: white;
    box-sizing: border-box;
}

.iconSearch{
    width: 47px;
    height: 47px;
    background-color: #CCD3DF;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    background-image: url(../public/icons8-search-47.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-out
}
.iconSearch:active{
    transform: scale(0.8);
}

.box1{
    width: 100%;
    max-width: 748px;
    min-height: 260px;
    margin-bottom: 25px;
    

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.boxDesc1{
    margin-bottom: 5px;
}

.city{
    display: grid;
    width: 100%;
    height: 65px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin-bottom: 5px;
    box-sizing: content-box;

    
}

.iconeCt{
    height: 60px;
    width: 60px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 50%;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
}
.nameCt{
    font-size: 30px;
    display: inline;
    grid-column: 2;
    grid-row: 1;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-family: 'Bubblegum Sans', cursive;
   align-self: center;

    
    
}
.boxTemp0{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
}
.temp{
    font-size: 32px;
    margin: 0;
}
.iconeWeather{
    height: 86px;
    width: 86px;
    
    font-size: 100px;
    border-radius: 50%;
    position: relative;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}


.phrase{
    display:none;
}
.boxDesc2{
    
    display: flex;
    flex-direction: column;
    
}

.sentDesc{
  
    font-size: 20px;
    margin: 0;
}
.phrase2{
    display: none;
}

.boxWeather{
    display: flex;
    flex-direction: row;
   width: 100%;

   gap: 5%;
   justify-content: end;
   margin-bottom: 10px;

}
.infIcone{
    height: 32px;
    width: 32px;

    grid-column: 1;
    border-radius: 50%;
    background-image: url(../public/icons8-info-30.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
    
}
.boxW{
    height: 121px;
    max-width: 94px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(210deg, #1A9AEA 0%, #6FB7E6 40%,#CCD3DF 100%);
    border-radius: 5px;
}

.box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(210deg, #1A9AEA 0%, #6FB7E6 40%,#CCD3DF 100%);

    border-radius: 15px;
    gap: 5px;

    box-sizing:content-box;
    padding: 5px;
    max-height: 93px;
    min-height: 93px;
    
}

.boxWeather1{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.iconeBox2{
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 64px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1/-1;
    grid-column: 2;
    justify-self: center;
    
    align-self: center;

}
.errMesage{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  white;
    font-size: 3rem;
    columns: black;
}
.iconeBox1{
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 50px;
    width: 50px;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.boxIconeDesc{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.day{
    justify-self: start;
    align-self: center;
    text-align: center;
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.tempN{
     justify-self: start;
    align-self: end;
    margin: 0;
    font-size: 20px;
    align-self: center;
    font-weight: bold;
}

.temp1{
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.hours{
    font-size: 18px;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 346px) {
  .tempN{
    font-size: 16px;
  }
}





@media only screen and (min-height: 346px) {
  .body{
    height: auto;

  }
  .box1{
    margin-bottom: 25px;
  }
}
@media only screen and (min-height: 616px) {
  .body{
    height: auto;
  }
  
}


@media only screen and (min-width :768px) {
  .body{
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100vh;
    padding-top: 20px

    }
    .boxInput{
    width: 75%;
    
    margin-bottom: 25px;
    
    
    }
    .input{
        border-bottom-left-radius: 24px;
        border-top-left-radius: 24px;
    }
    .iconSearch{
        border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
    }
    .box1{
        display: flex;
        flex-direction: row;
        height: 50%;
        max-height: 310px;
    }
    .boxDesc1{
        width: 50%;
        height: 100%;
        padding-left: auto;
    }
    .phrase{
        display: block;
    }
    .description{
        margin-top: 15px;
    }
    .phrase2{
        display: block;
        margin-top: auto;
    }
    .city{
        grid-template-columns: 3fr 2fr;
    }

    .nameCt{
        grid-column: 1;
    }
    .iconeCt{
        grid-column: 2;
        justify-self: start;
    }
    .boxTemp0{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
    }
    .temp{
        grid-column: 1;
        grid-row: 1;
    }
    .iconeWeather{
        grid-row: 2;
        grid-column: 2;
    }

    .boxDesc2{
        width: 50%;
        display: flex;
    }
    .boxWeather{
        justify-self: end;
        width: 100%;
        align-items: center;
        justify-content: start;

    }
    .boxW{
        width: 94px;
        height: 130px;
    }
    .boxWeather1{
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .box2{
        display: flex;
        flex-direction: column;
        max-height: 220px;
        
    }
}

